# Firebase
FIREBASE_API_KEY=your_firebase_api_key
FIREBASE_APP_ID=your_firebase_app_id
FIREBASE_MESSAGING_SENDER_ID=your_firebase_messaging_sender_id
FIREBASE_PROJECT_ID=your_firebase_project_id
FIREBASE_AUTH_DOMAIN=your_firebase_auth_domain
FIREBASE_STORAGE_BUCKET=your_firebase_storage_bucket
FIREBASE_MEASUREMENT_ID=your_firebase_measurement_id

# DartStream API Hosts
AUTH_HOST=https://dev-apiauth.dartstream.io
PLATFORM_HOST=https://dev-apiplatform.dartstream.io
EXPERIENCE_HOST=https://dev-apiexperience.dartstream.io
REACTIVE_HOST=https://dev-apireactive.dartstream.io

# OAuth2 Client Credentials (Intellitoggle)
INTELLITOGGLE_API_URL=https://dev-api.intellitoggle.com
INTELLITOGGLE_TOKEN_URL=your_intellitoggle_token_url
INTELLITOGGLE_CLIENT_ID=your_intellitoggle_client_id
INTELLITOGGLE_CLIENT_SECRET=your_intellitoggle_client_secret
INTELLITOGGLE_TENANT_ID=your_intellitoggle_tenant_id
INTELLITOGGLE_PROJECT_ID=your_intellitoggle_project_id
INTELLITOGGLE_ENVIRONMENT=your_intellitoggle_environment
INTELLITOGGLE_FLAG_KEY=your-flag-key

# OAuth2 Client Credentials
OAUTH2_CLIENT_ID=your_oauth2_client_id
OAUTH2_CLIENT_SECRET=your_oauth2_client_secret