# Firebase
FIREBASE_API_KEY=your_firebase_api_key

# DartStream API Hosts
AUTH_HOST=https://dev-apiauth.dartstream.io
PLATFORM_HOST=https://dev-apiplatform.dartstream.io
EXPERIENCE_HOST=https://dev-apiexperience.dartstream.io
REACTIVE_HOST=https://dev-apireactive.dartstream.io

# OAuth2 Client Credentials
OAUTH2_CLIENT_ID=your_oauth2_client_id
OAUTH2_CLIENT_SECRET=your_oauth2_client_secret